In [ ]:
a = 100

In [ ]:
age = 32
height = 5.10